<body>

<div class="card " style="margin-bottom: 10px">
    <div class="container">
        <div class="col">
            <div id="content">
                <img src="/assets/img/logo.png" alt="Airplane Database System" class="logo">
            </div>
        </div>

        <div>
            <label class = "control-form" for = "whichUser">Choose User Type: </label>
            <div>
              <select type = "text" name = "whichUser" id = "user" [(ngModel)] = "userType" placeholder="Date">
                <option value = "customer">Customer</option>
                <option value = "agent">Booking Agent</option>
                <option value = "staff">Airline Staff</option>
              </select>
            </div>
          </div>

        <div *ngIf = "isCustomer()">
            <form class="form-horizontal">
                <label class="control-label col-sm-2">Email</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="email" type="text" [(ngModel)]="customerToLog.customerEmail" name="email" class="form-control"
                        placeholder="email">

                </div>
                <label class="control-label col-sm-2">Password</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password" type="password" [(ngModel)]="customerToLog.password" name="password"
                        class="form-control" placeholder="password">
                </div>
                <div class="form-group col-sm-offset-2 col-sm-8">
                    <button (click)="loginSubmit()" class="btn login_btn btn-primary">Login</button>
                    <!-- <input id="formButton" type="button" value="Login" class="btn float-right login_btn" onclick="loginSubmit()"> -->
                </div>
            </form>
        </div>

        <div *ngIf = "isAgent()">
            <form class="form-horizontal">
                <label class="control-label col-sm-2">Email</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="email" type="email" [(ngModel)]="agent.email" name="email" class="form-control"
                        placeholder="email">

                </div>
                <label class="control-label col-sm-2">Password</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password" type="password" [(ngModel)]="agent.password" name="password"
                        class="form-control" placeholder="password">
                </div>
                <label class="control-label col-sm-2">ID</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="id" type="number" [(ngModel)]="agent.id" name="id" class="form-control"
                        placeholder="id">

                </div>
                <div class="form-group col-sm-offset-2 col-sm-8">
                    <button (click)="loginAgent()" class="btn login_btn btn-primary">Login</button>
                    <!-- <input id="formButton" type="button" value="Login" class="btn float-right login_btn" onclick="loginSubmit()"> -->
                </div>
            </form>
        </div>

        <div *ngIf = "isStaff()">
            <form class="form-horizontal">
                <label class="control-label col-sm-2">Username</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="username" type="text" [(ngModel)]="staff.username" name="username" class="form-control"
                        placeholder="username">

                </div>
                <label class="control-label col-sm-2">Password</label>
                <div class="input-group form-group col-sm-8">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input id="password" type="password" [(ngModel)]="staff.password" name="password"
                        class="form-control" placeholder="password">
                </div>
                <div class="form-group col-sm-offset-2 col-sm-8">
                    <button (click)="loginStaff()" class="btn login_btn btn-primary">Login</button>
                    <!-- <input id="formButton" type="button" value="Login" class="btn float-right login_btn" onclick="loginSubmit()"> -->
                </div>
            </form>
        </div>


    </div>
</div>
</body>